.heading{
    background-color: #1d232c;
    color: white;
    width: 50vw;
    margin: auto;
    text-align: center;
    font-weight: lighter;
    padding: 0.5rem;
    margin-top: 38vh;
    opacity: 0.9;
    box-shadow: 5px 5px 5px #2a303c;
}

@media only screen and (max-width: 992px){
    .heading{
        width: 80vw;
        margin-top: 55vh;
        padding: 0.75rem;
    }
}