.backdrop{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 34, 39, 0.8);
    z-index: 2;
}

@keyframes backdropMove{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.modal{
	position: fixed;
    width: 50vw;
	left: 50%;
    right: 50%;
    top: 50vh;
    background-color: white;
    z-index: 3;
    transform: translate(-50%, -50%);
	animation: modalMove 0.4s ease-in-out normal;
    padding: 2rem;
}

@keyframes modalMove {
	from {
		top: 100%;
	}
	to {
		top: 50%;
	}
}

.cart{
    max-height: 30vh;
    overflow: auto;
    padding: 0 0.5rem;
}

.modal__price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.modal__buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
}

.btn{
    width: 25%;
    padding: 1rem;
    font-size: 1.3rem;
}

.btn-primary{
    background-color: white;
    color: #0c0f14;
    border: 2px solid #0c0f14;
}
.btn-primary:hover{
    background-color: #ebebeb;
}

.btn-secondary{
    background-color: #0c0f14;
    color: white;
}
.btn-secondary:hover{
    background-color: #282d36;
    color: white;
}

.btn-invalid{
    opacity: 0.9;
    color: #353d4b;
    pointer-events: none;
    cursor: not-allowed;
}

@media only screen and (max-width: 992px){
    .modal{
        width: 70vw;
    }

    .modal__price{
        font-size: 1.2rem;
        flex-direction: column;
        justify-content: center;
    }

    .modal__price h1{
        margin: 0.5rem 0;
    }

    .btn{
        width: 50%;
        padding: 0.5rem;
        font-size: 1rem;
    }
}
